.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}

.card-registration .select-arrow {
  top: 13px;
}

select {
  background: transparent;
  color: #909090;
  outline: none;
  border: 1px solid #ced4da;
}

body {
  background: #fcfcfc;
  overflow-x: hidden !important;
}

.pr-12 {
  padding-right: 12px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.b-1 {
  border: 1px solid #ebebeb !important;
}

.card {
  border: 0;
  border-radius: 0;
  margin-bottom: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.media {
  padding: 16px 12px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.media .avatar {
  flex-shrink: 0;
}

.no-radius {
  border-radius: 0 !important;
}

.avatar-xl {
  width: 64px;
  height: 64px;
  line-height: 64px;
  font-size: 1.25rem;
}

.avatar {
  margin-top: 10px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 36px;
  text-align: center;
  border-radius: 100%;
  background-color: #f5f6f7;
  color: #8b95a5;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

img {
  vertical-align: middle;
  border-style: none;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.fs-20 {
  font-size: 20px !important;
}

.pr-16 {
  padding-right: 16px !important;
}

.ls-1 {
  letter-spacing: 1px !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fs-16 {
  font-size: 16px !important;
}

.media-body>* {
  margin-bottom: 0;
}

small,
time,
.small {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #8b95a5;
}

.fs-14 {
  font-size: 14px !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.text-fade {
  color: rgba(77, 82, 89, 0.7) !important;
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-footer {
  background-color: #fcfdfe;
  border-top: 1px solid rgba(77, 82, 89, 0.07);
  color: #8b95a5;
  padding: 10px 20px;
}

.flexbox {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer {
  background-color: #fcfdfe;
  border-top: 1px solid rgba(77, 82, 89, 0.07);
  color: #8b95a5;
  padding: 10px 20px;
}

.card-footer>*:last-child {
  margin-bottom: 0;
}

.hover-shadow {
  -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.11);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.11);
}

.fs-10 {
  font-size: 10px !important;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #9d97a9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Alata', sans-serif;
  color: #453e6e;
}

.banner-bg {
  /* background-image: url(img/9-SCENE.svg); */
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.btn {
  padding: 13.5px 36px;
  font-weight: 700;
  border-radius: 30px;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn-success {
  background-color: #15b28b;
  border-color: #15b28b;
}

.navbar-light .navbar-nav .nav-link {
  color: #453e6e;
  font-weight: 500;
}

.bb li {
  margin-bottom: 5px;
}

.bb li a {
  font-size: 13px;
  font-weight: 600;
  color: #666;
  transition: all 0.3s ease;
  text-decoration: none;
}

.bb li a:hover {
  color: #fba94b;
}

.social-icons a {
  margin-right: 15px;
  color: #999;
}

.social-icons a:hover {
  color: #333;
}

.hero-shape {
  position: absolute;
  left: auto;
  top: -88%;
  right: -26%;
  bottom: auto;
  display: block;
  width: 90%;
  height: 150%;
  border-radius: 94px;
  background-color: #f2faff;
  -webkit-transform: rotate(-23deg);
  -ms-transform: rotate(-23deg);
  transform: rotate(-23deg);
}

.bg-light {
  background-color: #f2faff !important;
}

.bg-tutor {
  background-color: #f2faff;
  transition: all 0.3s ease;
}

.bg-tutor:hover {
  cursor: pointer;
  background-color: #15b28b;
  color: #FFF;
}

.bg-tutor:hover h6 {
  color: #FFF;
}

.bg-tutor i {
  font-size: 36px;
  color: #15b28b;
}

.bg-tutor:hover i {
  color: #FFF;
}

.nb i {
  font-size: 30px;
  color: #fff;
}

.right-shape.home {
  top: -18%;
}

.right-shape {
  position: absolute;
  left: 57%;
  top: 31%;
  width: 80%;
  height: 90%;
  border-radius: 94px;
  background-color: #fff5e8;
  -webkit-transform: rotate(-21deg);
  -ms-transform: rotate(-21deg);
  transform: rotate(-21deg);
}

.shape-four {
  position: absolute;
  top: 16%;
  right: 75%;
  width: 80%;
  height: 122%;
  border-radius: 94px;
  background-color: #f2faff;
  -webkit-transform: rotate(-22deg);
  -ms-transform: rotate(-22deg);
  transform: rotate(-22deg);
}

.img-radius img {
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 150px;
  height: 150px;
}

.page-wrape {
  overflow: hidden;
}

.owl-carousel .owl-item img {
  display: inline-block !important;
  width: auto;
}

@media(max-width:1368px) {
  .banner-bg {
    background-position: center right -300px;
    background-size: cover;
  }
}

@media(max-width:1168px) {
  .banner-bg {
    background-position: center right -380px;
  }
}

@media(max-width:768px) {
  .banner-bg {
    background-position: bottom -300px right -290px;
  }
}

@media(max-width:568px) {
  .banner-bg {
    background-position: bottom -330px right -310px;
  }
}

.dialog {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #f5f5f5;
  padding: 16px;
  box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
}

.d-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 999;
  top: 0;
}

.hide-me {
  display: none;
}

.close-btn {
  background: transparent;
  outline: none;
  border: 1px solid #aeaeae;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  position: absolute;
  right: 0; 
}
.ui-widget-header,.ui-state-default, ui-button{  
  background:#b9cd6d;  
  border: 1px solid #b9cd6d;  
  color: #FFFFFF;  
  font-weight: bold;  
}  